.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  background-color: antiquewhite;
}
.list {
  display: flex;
  justify-content: space-between;
}
button {
  margin-right: 10px;
}
